.btn {
  color: #3da6ff !important;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn:hover {
  color: #0d6efd !important;
}

.btn-small {
  padding: 5px, 15px;
  margin-top: 15px;
}

.btn:hover, .btn-focus {
  color: #fff
}

.btn-btn-defeault {
  width: 100%;
  border-color: #c4c4c4;
  background: white ;
  color: #484848;
  border-radius: 2px ;
  padding: 10px 0;
  margin: 10px;
}



.btn, .btn-normal {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

.btn, .btn-normal:hover {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn, .btn-form {
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
}

//  .btn-form:hover {
//   outline: none;
//   border-color: #3da6ff;
//   background-color: #3da6ff;
// }

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

.btn-defeault {
  border: #484848;
}

.listing {
  margin-top: 10px;
}

.btnsearch {
  color: #3da6ff !important;
  border-radius: 5px;
  font-weight: bold;
  padding: 18px 18px;
  background-color: #484848;
  background-image: url("search1.png");
  background-size: 30px;
  background-repeat: no-repeat;

}
