.form-control {
  border-radius: 2px;
  height: 4rem;
  width: 100%;
  text-align: center;
}


.form-group {
  margin-bottom: 25px;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}
