.form-control {
  border-radius: 2px;
  height: 4rem;
  width: 100%;
  text-align: center;
  color:white;
}


.form-group {
  margin-bottom: 25px;
  color:white;
}

.form-group input {
  height: 45px;
  border: 1px solid #ff5a5e;
  cursor: pointer;
  user-select: none;
  color: white;

}

.form-group textarea {
  border: 1px solid #00A699
}

.form-group select {
  width: 100%;
  color: #565a5c;
  background-color: white;
  border: 1px solid #ff5a5e;
  border-radius: 2px;
  padding: 10px;
  // appearance: none;
  // -moz-appearance: none;
  // -webkit-appearance: none;
  // content: "";
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #00A699;
  top: 30px;
  right: 30px;
  transform: scale(0.94, 0.62);
  content: "";
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #00A699;
  border-radius: 2px;
  // appearance: none;
  // -moz-appearance: none; /* Firefox */
  // -webkit-appearance: none; /* Safari & Chrome */

}

.form-group input[type="checkbox"]:checked::before {

  position: absolute;
  font-size: 0.95em;
  text-align: center;

}




.price {
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
