// Specific CSS for your home-page
body {
  color: #565a5c;
  background-color: #F8F8F8;
}

.container {
	width: 80%;
}

a {
  color: #00A699;
}

.text-babu, .icon-babu {
  color: #00A699;
}


.card {
  border-radius: 15px !important;
  width: 70%;
  height: 80%;
}

.carousel {
  width: 50% !important;
  height: 50% !important;
}

.item {
  height: 500px;
}


.item .carousel-img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
