.container-fluid {
  padding-inline-start: 20px;
  height: 56px;
  padding: 0 16px;
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-item {
  display: -webkit-flex !important;
  padding-left: 50%;

}

.logo {
  width: 100% !important;
  height: 50px;
justify-content: space-between;
}
