.container-fluid {
  padding-inline-start: 20px;

}

.flex-item {
  display: -webkit-flex !important;
  padding-left: 50%;

}

.logo {
  width: 100% !important;
  height: 50px;
justify-content: space-between;
}
