.amenities li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
  color: rgb(61, 95, 10);
}

.amenities .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

.amenities-title {
  text-decoration: solid;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-listings {
  text-decoration: solid;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
