.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

.sidebar-link:hover {
  color: #cacccd;
  text-decoration: none;
}
