<footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 my- border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Paulo Gomes, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <%= image_tag "3.jpg", class:"bi me-2", width: "40", height: "32" %>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li><a class="btn btn-floating m-1" href="https://github.com/pjgomes85" role="button"
            ><i class="fab fa-github"></i
          ></a></li>
      <li><a class="btn btn-floating m-1" href="https://www.linkedin.com/in/pjgomes/" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a></li>
      <%# <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> %>
    </ul>
  </footer>
