<% if notice %>
            <p class="alert alert-success alert-dismissible col-md-2">
              <%= notice  %><button type="button" class="close" data-dismiss="alert">&times;</button>
            <% end %>
            </p>

       <p class="alert"><%= alert %></p>

