<div class="main">
  <div class="left">
    <div class="row">

  <div  id="collapsePanel">



  <div class="row">
			<% @rooms.each do |room| %>
				<div class="col-md-2">
          <div class="panel panel-default">
						<div class="panel-heading preview">
              <%= link_to room do %>
							  <%= cl_image_tag room.photos[0].key, width: 150, height: 150, crop: :fill %>
						</div>
						<div class="panel-body" style="background-color: white !important; text-align: center;">
							<%=  room.listing_name %>
              <% end %>
						</div>
          </div>
        </div>
			<% end %>
    </div>
</div>


<style>

.main {
  height: 100%;

  height: 100%;
}

.left {
  padding: 10px;
  background-color: #222222;
  border-radius: 25px;
  color: white;
}

</style>
