<%= simple_form_for([@room, @room.reservations.new]) do |f| %>

   <div class="booking-form booking">
    <form>
      <div class="row">
       <div class="col-sm-6">
          <div class="form-group">
            <span class="form-label check-in">CHECK-IN</span>
              <input name="start_date" class="form-control" type="date" placeholder="check" required>      <%# <%= f.date_field :start_date, class: "form-control", type: "date" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <span class="form-label check-out">CHECK-OUT</span>
              <input name="end_date" class="form-control" type="date" required>       <%# <%= f.date_field :end_date, class: "form-control" %>
          </div>
        </div>
      </div>
    </form>
<%= f.submit "Book Now", class: "btn btn-normal btn-block" %>
<% end %>
  </div>
<br/>


<style>
.booking {
  border-radius: 10px;
  border-style: #f2f2f2;
  padding: 20px;
  box-shadow:1px 1px 5px #CCC;;
}

input[type=date]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.check-in{

}
</style>
