<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default" >

    <div class="panel-heading" >
      Location
    </div>

      <div class="panel-body">
        <div class="container">
          <%= simple_form_for @room do |f| %>

            <div class="row">
              <div class="form-group">
                  <label></label>
                    <%= f.input :address,
                                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                              %>
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
