<% if @room.photos.count > 0 %>
  <br/><br/>

  <div class="row">
    <% @room.photos.each do |photo| %>
      <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="card" >
          <%= cl_image_tag photo.key, height: 150, width: 150, class: "card-img-top" %>
          <%# <div class="card-body" style="background-color: white !important;"> %>
              <%# <span class="pull-right"> %>
                  <%# <p data-turbo="true"><%= link_to photo.destroy , remote: true, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
                  <%# <i class="fa-solid fa-trash-can"></i> %>
                   <%# <% end %>
            <%# </span> %>
            <%# </div> %>
          </div>
        </div>
     </div>
   <% end %>
  </div>
<% end %>
