
.alert {
  max-width: 350px;
  display: inline-block;
  font-size: 15px;
}




.flash-msg {
  position: absolute;
  margin-left: 75%;

}

.flash-msg {
  position: absolute;
  margin-left: 75%;

}


// @keyframes fadeOut {
//   0% {
//     opacity:1;
//   }
//   100% {
//     opacity:0;
//   }
// }
