.alert {
  max-width: 300px;
  display: inline-block;


}

.flash-msg {
  position: absolute;
  margin-left: 75%;
  
}




@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
